#!/usr/bin/env bash

# Set all Casks to be installed in Applications folder
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="/Users/cfaria/.sdkman"
[[ -s "/Users/cfaria/.sdkman/bin/sdkman-init.sh" ]] && source "/Users/cfaria/.sdkman/bin/sdkman-init.sh"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".exports.local" ] && source ".exports.local"