#!/usr/bin/env bash

# Grails configuration settings
export GRAILS_OPTS="-Xmx6000M -XX:MaxPermSize=2000M -Dfile.encoding=UTF-8";
export JAVA_OPTS="-Duser.timezone=UTC"

# Set MySQL in Path using brew installation
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"

# Set all Casks to be installed in Applications folder
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# RVM Configuration
export PATH="$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="/Users/cfaria/.sdkman"
[[ -s "/Users/cfaria/.sdkman/bin/sdkman-init.sh" ]] && source "/Users/cfaria/.sdkman/bin/sdkman-init.sh"

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".exports.local" ] && source ".exports.local"
